m4
.libs
*.lo
src/
/*.md
/config*
/stamp*
/missing*
/models/
depcomp
/doc*
/dump*
/compile
/*.m4
/Make*
/package*
/ltmain*
*cache*
/install*
/lib*
/*.pc
/*.tar.gz
/*demo
/dataset
checkpoints_models
logs
